header,
	main,
	footer {
	    width: 800px;
	    margin: auto;
	    margin-bottom: 30px;
	    background-color: gray;
	}
	
	header > img {
	    background-color: green;
	}
	
	nav {
	}
	
	nav > a {
	    background-color: red;
	}
	
	main a {
	    background-color: blue;
	}
	main > img {
	    background-color: grey;
	}